## Dictionary

In [29]:
d = {
     'brand' : 'cherry' , 
     'model' : 'arizo5' ,
     'color' : 'white'
     }

print(type(d))   

print(len(d))   

d1 = dict( brand = 'cherry' , model='arizo5' , color = 'white')

d['year'] = '2010'


print( d['model'])

<class 'dict'>
3
arizo5

### .get()

In [4]:
x = d.get('model')
print(x)           

x = d.get('cylinder')
print(x)           

x = d.get('cylinder',-1)
print(x)

arizo5
None
-1

### .key()  .value()  .items()

In [2]:
d = dict( brand = 'cherry' , model='arizo5' , color = 'white')
print(list(d.keys()))   

print(list(d.values()))  

print(list(d.items()))

['brand', 'model', 'color']
['cherry', 'arizo5', 'white']
[('brand', 'cherry'), ('model', 'arizo5'), ('color', 'white')]

In [3]:
for k,v in d.items():
    print(k,':',v)

brand : cherry
model : arizo5
color : white

### .pop() .popitem() .clear() del

In [30]:
d.pop('model')    
print(d)     

d.popitem()
print(d)    


d.popitem()
print(d)   

d.clear()
print(d)   

del d

{'brand': 'cherry', 'color': 'white', 'year': '2010'}
{'brand': 'cherry', 'color': 'white'}
{'brand': 'cherry'}
{}

In [27]:
a = ['x', 'y', 'x', 'z', 'y', 'x']
d = {}

for i in a :
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1         
print(d)

{'x': 3, 'y': 2, 'z': 1}

In [26]:
d1 = {}
for i in a:
    d1[i] = d1.get(i,0) +1
    
print(d1)    

d2 = d.copy()

{'x': 3, 'y': 2, 'z': 1}

In [31]:
s = 'abfabdcaa'
d = {}
for i in s:
    d[i] = d.get(i,0) + 1
    
print(d)

{'a': 4, 'b': 2, 'f': 1, 'd': 1, 'c': 1}

In [33]:
line ='a dictionary is a datastructure.'
d = {}
s = line.split()
print(s) 

for i in s:
    d[i] = d.get(i,0) + 1

print(d)

['a', 'dictionary', 'is', 'a', 'datastructure.']
{'a': 2, 'dictionary': 1, 'is': 1, 'datastructure.': 1}

In [34]:
d = {'a': 4, 'b': 2, 'f': 1, 'd': 1, 'c': 1}

s = 0
for i in d:
    s += d[i]
print(s)

# or
print(sum(d.values()))

9
9

### .itemgetter() sorted()

In [36]:
print('# sort #')
d = {'a': 4, 'b': 2, 'f': 1, 'd': 1, 'c': 1}
import operator
k= operator.itemgetter(1)
print(sorted(d.items(),key = k))

k= operator.itemgetter(0)
print(sorted(d.items(),key = k))

# sort #
[('f', 1), ('d', 1), ('c', 1), ('b', 2), ('a', 4)]
[('a', 4), ('b', 2), ('c', 1), ('d', 1), ('f', 1)]

In [37]:
num ={
      'ali' : [12,13,8],
      'sara': [15,7,14],
      'taha': [5,18,13]     
      }

d = {k : sorted(v)  for k,v in num.items()}

print(d)

{'ali': [8, 12, 13], 'sara': [7, 14, 15], 'taha': [5, 13, 18]}

### .update()

In [39]:
d1 = {'x' : 3 , 'y': 2 , 'z':1}
d2 = {'w' : 8 , 't': 7 }

d = {}
d = d1.copy()
d.update(d2)
print(d)

# or
d = {}
for i in (d1,d2):
    d.update(i)
print(d)   

# or
d = {**d1 , **d2} 
print(d)

{'x': 3, 'y': 2, 'z': 1, 'w': 8, 't': 7}
{'x': 3, 'y': 2, 'z': 1, 'w': 8, 't': 7}
{'x': 3, 'y': 2, 'z': 1, 'w': 8, 't': 7}

### Map two lists into a dict

In [41]:
k = ['red' , 'green'] 
v = ['#FF0000' , '#008000']

z = zip(k,v)
d = dict(z) 
print(d)

{'red': '#FF0000', 'green': '#008000'}

### .setdefault()

In [42]:
s = 'alireza'
x = ['a', 'r']
d = {}

for i in s:
    if i in x:
        d.setdefault(i,0)
        d[i] +=1

print(d)         # {'a': 2, 'r': 1}

{'a': 2, 'r': 1}

### remove duplications

In [43]:
d = {'x': 3, 'y': 2, 'z': 1, 'y' :2 , 'z' : 4 }

r = {}

for k,v in d.items():
    if v not in r.values():
        r[k] = v

print(r)

{'x': 3, 'y': 2, 'z': 4}

In [47]:
d = {
     'h' : 0 , 
     't' : 0
     }

import random

for i in range(17):
    d[random.choice(list(d.keys()))] +=1

print(d)

{'h': 6, 't': 11}

In [48]:
students = [ 
             {'id':123 , 'name' : 'ali'  , 's': True},
             {'id':378 , 'name' : 'taha' , 's': False},
             {'id':934 , 'name' : 'sara' , 's': True} 
            ]

print(sum(d['s']  for d in students))

2

### nested dict

In [49]:
myfamily = {
        'child1':{'name':'taha'  , 'age' : 8}  ,      
        'child2':{'name':'mahsa' , 'age' : 20}              
        }

print(myfamily)

# or
d1 = {'name':'taha'  , 'age' : 8} 
d2 = {'name':'mahsa' , 'age' : 20}

myfamily1 = {
        'child1':d1 ,      
        'child2':d2              
        }

{'child1': {'name': 'taha', 'age': 8}, 'child2': {'name': 'mahsa', 'age': 20}}

In [50]:
tel = {
       'home' : '021-4455' , 
       'mobile' : '0912-1972028'
       }

person ={
         'name'     : 'farshid' , 
         'age'      : 48 , 
         'children' : ['mahsa' , 'taha'],
         'phone'    : tel
        }

print(len(person))  

print(person['phone'])

print(person['phone']['mobile']) 

print(person['children'])    
print(person['children'][0])  

print(person.pop('age'))

4
{'home': '021-4455', 'mobile': '0912-1972028'}
0912-1972028
['mahsa', 'taha']
mahsa
48