## Lambda

In [4]:
def f(n):
    return n*2
print(f(3))

g = lambda n : n*2
print(g(3))

6
6

In [7]:
add = lambda x,y :x+y
print(add(2,3))
add = lambda x,y : (x+y , x-y)
print(add(2,3))

5
(5, -1)

In [9]:
d = {'a':3,'b':7,'c':5}
print(d[max(d.keys(),key= (lambda k: d[k]))])

7

### map()

In [11]:
lst = ["ahmad","reza"]
u = []
for i in lst:
    x = i.upper()
    u.append(x)
print(u)

['AHMAD', 'REZA']

In [14]:
m = map(str.upper,lst) #apply function for each element on list 
print(list(m))

['AHMAD', 'REZA']

In [15]:
name = ['ali','reza']
score = [13,18]
print(list(zip(name,score)))

[('ali', 13), ('reza', 18)]

In [16]:
print(list(map(lambda x,y : (x,y) , name,score)))

[('ali', 13), ('reza', 18)]

In [17]:
lst = ["a","b"]
my_ascii = []
for i in lst:
    my_ascii.append(ord(i))
print(my_ascii)

[97, 98]

In [18]:
print(list(map(ord,lst)))

[97, 98]

In [20]:
scores = [12,8,19,15,7]
print(list(map(lambda x : x>9,scores)))

[True, False, True, True, False]

In [24]:
a = [3,2,1]
b = [6,4,7]
f = lambda x,y : x+y
print(list(map(f,a,b)))
print(list(map(lambda x,y : x+y ,a,b)))

[9, 6, 8]
[9, 6, 8]

In [28]:
def f(x):
    return x+5

def g(y):
    return y*2
funcs = [f,g]

lst = [1,2,3]
for i in lst:
    print(list(map(lambda a : a(i),funcs)))

[6, 2]
[7, 4]
[8, 6]

### filter()

In [29]:
lst = ['radar','ali','madam','php']
palindrome = lambda x: (x == ''.join(reversed(x)))
print(list(filter(palindrome,lst)))

['radar', 'madam', 'php']

In [30]:
lst = [2,7,'',9,{},8,[],12]
print(list(filter(None,lst)))

[2, 7, 9, 8, 12]

### reduce()

In [36]:
from functools import reduce
lst = [4,8,3,5]
add = lambda a,b : a+b
print(reduce(add,lst))

20

In [38]:
def my_reduce(func,seq):
    r = seq[0]
    for i in seq[1:]:
        r = func(r,i)
    return r
print(my_reduce(add,lst))

20

In [39]:
lst = [5,2,3,1,4]
lst_sorted = sorted(lst)
print(lst_sorted)

[1, 2, 3, 4, 5]

In [41]:
lst.sort()
print(lst)

[1, 2, 3, 4, 5]

In [45]:
students = [
    {'id':1 , 'name':'taha','score':19},
    {'id':6 , 'name':'sara','score':8},
    {'id':4 , 'name':'omid','score':15},
    {'id':3 , 'name':'ali','score':19}
]

f = lambda x : x['score']
print(sorted(students,key = f))

[{'id': 6, 'name': 'sara', 'score': 8}, {'id': 4, 'name': 'omid', 'score': 15}, {'id': 1, 'name': 'taha', 'score': 19}, {'id': 3, 'name': 'ali', 'score': 19}]

## itemgetter

In [60]:
student = [
    (1 , "moe",15),
    (6 , "mahsa",17),
    (4 , "ahmad",15),
    (3 , "ali",19)
]

from operator import itemgetter
print(sorted(student,key = itemgetter(2))) # sorted by score
print(sorted(student,key = itemgetter(2) , reverse = True))
print(sorted(student,key = itemgetter(2,1))) #sorted by score and name

[(1, 'moe', 15), (4, 'ahmad', 15), (6, 'mahsa', 17), (3, 'ali', 19)]
[(3, 'ali', 19), (6, 'mahsa', 17), (1, 'moe', 15), (4, 'ahmad', 15)]
[(4, 'ahmad', 15), (1, 'moe', 15), (6, 'mahsa', 17), (3, 'ali', 19)]