## Tuples

In [4]:
t = ('English', 'History', 'Mathematics')
print(t)
print(type(t))  
print(len(t))

('English', 'History', 'Mathematics')
<class 'tuple'>
3

In [6]:
 #t[0] = 'art'  # error : tuples are immutable

In [7]:
t = (1, 9 , 2)    
print(sum(t))      
print(max(t))     
print(min(t))     
print(t.count(9))  
print(t*2)        

print(tuple(reversed(t)))

12
9
1
1
(1, 9, 2, 1, 9, 2)
(2, 9, 1)

### how to add something or remove in tuple??

In [ ]:
# append ?
t = (4 , 6)
t = t + (9,)
print(t)    

# or
t = (4 ,6)
a = list(t)
a.append(9)
t = tuple(a)
print(t)    

# remove ?
t = (4, 7, 2, 9, 8)
x = list(t)
x.remove(2)
t = tuple(x)
print(t)

In [8]:
# unpack
t = (4, 8)
a,b = t
print(a)   # 4
print(b)   # 8

car = ('blue', 'auto', 7)
color,_,a = car
print(color)    # blue
print(_)        # auto
print(a)        # 7

4
8
blue
auto
7

### zip()  zip(*) => unzip

In [9]:
a = (1, 2)
b = (3, 4)
c = zip(a,b)
print(c)
x = list(c)
print(x)          
print(x[0])        
print(type(x[0])) 

# unzip
z = [(1, 3), (2, 4)]
u = zip(*z)
print(list(u))   


a = (1, 2 , 'A')
b = (3, 4 , 8)
c = zip(a,b)
x = list(c)
print(x)

<zip object at 0x7f8df827cc00>
[(1, 3), (2, 4)]
(1, 3)
<class 'tuple'>
[(1, 2), (3, 4)]
[(1, 3), (2, 4), ('A', 8)]

### isinstance()

In [2]:
num = [8, 2 , (9,3) , 4 , (1,6,7) , 34]
c = 0
for i in num:
    if isinstance(i , tuple):
        continue
    c += 1
print(c)              # 4
print(len(num) - c)   # 2

4
2

In [1]:
a = [(1,2,3) , (4,5,6)]

b = [i[:-1]+(9,) for i in a]

print(b)

[(1, 2, 9), (4, 5, 9)]